---
layout: default
---

<section class="archive">
  {% assign posts_by_year = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
  {% for year in posts_by_year %}
    <h2 class="archive-year">{{ year.name }}</h2>
    <ul class="archive-list">
      {% for post in year.items %}
        <li class="archive-item">
          <time datetime="{{ post.date | date_to_xmlschema }}" class="archive-date">{{ post.date | date: "%m-%d" }}</time>
          <a href="{{ post.url | relative_url }}" class="archive-link">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</section>

